<%= @question.question %>
<ol>
  <li><%= @question.prop1 %></li>
  <li><%= @question.prop2 %></li>
  <li><%= @question.prop3 %></li>
</ol>

<input type="text" name="quiz_id" value="<%= @question.quiz_id %>" class="hidden">
<input type="text" name="current_index" value="<%= @question.current_index %>" class="hidden">
<input type="submit" value="Next Question">


questions/4?quiz_id=3&current_index=0&choice=3

=> link_quiz = @question.quizzes
   @question.choice == 3 ? link_quizz.score += 1
=> if @question.current_index]<link_quiz.questions.length
    current_index += 1

    redirect_to question_path(questions[current_index-1])

